<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, this is Mackenzie Child</h1>
    <p>Welcome the blog app. Actually, my name is Joey Wong, and  I'm learnign ruby on rails now.</p>
    <p>I follow Mackenzie Child's "12 web apps in 12 weeks challeng", you can find it <a href="https://www.youtube.com/watch?v=BI_VnnOLSKY&index=2&list=PL23ZvcdS3XPLNdRYB_QyomQsShx59tpc-" target=_new>here</a></p>
  </div>
</div>
